psycopg2-binary
cloudinary
selenium
requests
webdriver-manager
gnews
python-dateutil
pandas
tabulate
pytrends
urllib3<2.0

# Flask Web App Dependencies
flask
flask-socketio
flask-cors
gspread
oauth2client
gunicorn
eventlet>=0.35.0,<0.42.0


